body {
	font-family: 'Roboto', sans-serif;
	color: #434455;
	/* WHITE */
	background: rgb(255, 255, 255);
}

h1 {
	/* Header 1 */
	color: rgb(255, 255, 255);
	font-size: 56px;
	font-weight: 700;
	line-height: 60px;
	 line-height: 1.07;
     letter-spacing: 0.02em;
}

h2 {
	/* Header 2 */
	color: rgb(46, 47, 66);
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 2%;
}

h3 {
	/* Header 3 */
	color: rgb(46, 47, 66);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

p {
	/* Body */
	color: rgb(67, 68, 85);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
}

a {
	/* Body Medium */
	color: rgb(46, 47, 66);
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 2%;
	text-decoration: none;
}


button {
	/* IRIS */
	background: rgb(77, 90, 229);
	cursor: pointer;
	/* Button Text */
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 4%;
}

address {
	font-style: normal;
}

/* header */

.header__logo {
	color: #4d5ae5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-web-header {
	color: #2e2f42;
}
.header__menu-link {
	letter-spacing: 0.02em;
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__contact-link:hover,
.header__contact-link:focus {
	/* Body Medium */
	color: rgb(64, 75, 191);
}
.header__menu-link:active {
}

.header__contact-link {
	color: #434455;
	letter-spacing: 0.02em;
}

/* main */
/* main__section-head */

.main__title{
    line-height: 1.07;
    letter-spacing: 0.02em;

}
.main__section-head {
	/* NAVY BLUE */
	font-family: 'Roboto', sans-serif;
	background: rgb(46, 47, 66);
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
}
.main__button {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.04em;
}
.main__button:hover,
.main__button:focus {
	background: #404bbf;
}

/* main__section-enefits */
.main__subheading {
	/* Header 3 */
	color: #2e2f42;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}
.main__text{
    /* Body */
color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
/* main__section-team */

.main__section-team {
	/* CLOUD */
	background: rgb(244, 244, 253);
}
.main__team-member {
	/* WHITE */
	background: rgb(255, 255, 255);
}
.main__subtitle{
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.main__team-name{
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-transform: capitalize;
}
.main__team-role{
    letter-spacing: 0.02em;
}

/* main__section-portfolio */

.main__portfolio-name,
.main__portfolio-category{
    letter-spacing: 0.02em;
}

/* footer */
.footer {
	/* NAVY BLUE */
	background: rgb(46, 47, 66);
}
.footer__text {
	color: rgb(244, 244, 253);
}
.footer__logo {
	color: #4d5ae5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.logo-web-footer {
	color: #f4f4fd;
}
.footer__text{
    letter-spacing: 0.02em;
}